@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;400;700anddisplay=swap');

body{
    background-color: #131316;
    color: hsl(0, 0%, 100%);
    font-family: 'Poppins', sans-serif;
    
}
*{
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;

}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

